body {
    background-color: rgb(241, 242, 246);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.app {
    padding: 0 16px;
    margin-top: 16px;
}

.subtitle {
    text-align: center;
    margin: 16px 0;
    font-size: 1.5rem;
}