.tour {
    margin: 8px 0;
    padding: 16px 24px 16px 16px;
    box-shadow: 0 2px 5px 0 rgba(19, 41, 104, .2);
    border-radius: 8px;
    background-color: white;
    position: relative;
    font-size: 14px;
    .favoriteButton {
        position: absolute;
        top: 8px;
        right: 8px;
    }
    .price {
        color: #132968;
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        bottom: 8px;
        right: 8px;
    }
}